# =========================
# STM32CubeIDE
# =========================

.metadata/
.settings/

Debug/
Release/

*.launch

.project
.cproject
.mxproject

# CubeIDE generated
*.o
*.d
*.su
*.elf
*.map
*.list

# Build folders
build/
cmake-build-*/

# OS мусор
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Logs
*.log
